<div class="message-box-container">
  <div class="message-box-header">
    <i class="fa-solid fa-arrow-left"></i>
    <h3>山田 太郎</h3>
    <i class="fa-solid fa-circle-info info-item"></i>
  </div>
</div>
