<a class="atag" href="https://jisuijisan.com/html-css-message/" target="_blank">DMのlayout参考ページへ</a>

<%# ============= DMの文章部分 ================== %>
<div class="message">
<div class="frame">
  <div class="message-box-header">
    <i class="fa-solid fa-arrow-left"></i>
    <h3>山田 太郎</h3>
    <i class="fa-solid fa-circle-info info-item"></i>
  </div> <%# /.message-box-header %>

  <%# メッセージ本文 %>
  <div class="cont">
    <!-- メッセージの種類と日時 -->
    <div class="info">
      <span class="bold">iMessage<br />
        11月1日(水)</span>17:09
    </div>

    <%# 相手側からのメッセージ %>
    <div class="talk_block other">
      <div class="speech_bubble">
        相手側からのメッセージ
      </div>
    </div>
    <%# /.talk_block other %>
  </div>



</div>  <%# /.flame %>

</div> <%# /.message %>

