<h1>SNSのView作り中</h1>

<div class="container">
  <div class="row ">
    <%# サイドバー(sidebar) %>
    <div class="col-md-4 d-flex flex-column sidebar">
      <i class="fa-brands fa-x-twitter"></i>
      <p class="type1"><i class="fa-solid fa-house-chimney-window"></i><span class="h6">ホーム</span ></p>
      <p class="type1"><i class="fa-solid fa-magnifying-glass"></i><span class="h6">検索</span ></p>
      <p class="type1"><i class="fa-regular fa-bell"></i><span class="h6">通知</span ></p>
      <p class="type1"><i class="fa-regular fa-envelope"></i><span class="h6">ダイレクトメッセージ</span ></p>
      <p class="type1"><i class="fa-regular fa-bookmark"></i><span class="h6">ブックマーク</span ></p>
      <p class="type1"><i class="fa-solid fa-id-card"></i><span class="h6">プロフィール</span ></p>
      <p class="type1"><i class="fa-brands fa-usps"></i><span class="h6">投稿</span ></p>

    </div>
    <%# メインエリア(main-area) %>
    <div class="col-md-8 main-area">
      メイン
    </div>
  </div>
</div>
