<div class="d-flex justify-content-between message-html">
  <h2>Messages</h2>
  <div class="message-header">
    <i class="fa-solid fa-gear left"></i>
    <i class="fa-solid fa-envelope-circle-check"></i>
  </div>
</div>
<div class="search-box">
  <input type="text" placeholder="Search Direct Messages">
  <button type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>

<div class="d-flex message-list">
  <img src="/assets/avater2.jpg" class="message-img ">
  <div class="message-list-item">
    <div class="d-flex">
      <h4>山田 太郎</h4>
      <p>@yamada01</p>
    </div>
    <p class="message-p">クリックでメッセージ本文へ移動</p>
  </div>
</div>
<div class="d-flex message-list">
  <img src="/assets/avater3.png", class="message-img ">
  <div class="message-list-item">
    <div class="d-flex">
      <h4>鈴木 次郎</h4>
      <p>@suzuki02</p>
    </div>
    <p class="message-p">クリックでメッセージ本文へ移動</p>
  </div>
</div>


