- # ============= DMの文章部分 ==================
.message-box-header
  i.fa-solid.fa-arrow-left
  h3
    = @another_entry.user.name
    | さんとのメッセージ
  i.fa-solid.fa-circle-info.info-item
- # /.message-box-header
- # messages_controllerに渡す
- # messages_pathをポストで飛ばす。messagesのcreate
= form_with model: @message, url: messages_path(room_id: params[:id])  do |f|
  .messageForm
    = f.text_field :body, class: "messageInput", placeholder: '投稿したい内容を入力'
    = f.submit "送信する", class: "messageSubmit"
- # メッセージ本文
- @messages.each do |m|
  .message-box-body
    - # if文で投稿が自分なら
    - if m.user_id == current_user.id
      .message-box-body-info

      .blank-div
      p
        = m.body
- else
  - # else文　投稿が自分以外なら
  .message-box-body-info-other

  p
    = m.body
  .blank-div
